video {
  display: block;
  margin: 0 auto;
  width: 70%;
  padding: 1.5rem 0rem;
}

.multi-device-video {
  width: 90%;
}

@media (min-width: 1024px) {
  video {
    width: 50%;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

@media (min-width: 1200px) {
  .gallery {
    flex-direction: row;
  }
}
